 {
 font-family:Trebuchet Ms, Arial;
 font-size:12px;
 }
 from, select, input {
	border:1px solid silver;
<!--	margin: 0px; 
	padding: 0px;-->
 }
 div #radio_zoom{font-size: 50.0%;}
 .btn{width:50px; height:20px; background-color:#006699;}