body {
}

.align-right
{
    text-align:right !important;
}
.float-right
{
    float:right;
}

.small-title-font
{
    font-weight: bold;
    background-color: Lightgray;
    font-size: 100%;
}