

@media  (max-width: 767px) {
#bgpic
{
    width:200px !important;
    height:150px !important;
}
body 
{
    font-size:50%;
}
}
@media (min-width: 768px) and (max-width: 991px) {
#bgpic
{
    width:400px !important;
    height:300px !important;
}
}

@media (min-width: 992px) {
#bgpic
{
     width:600px !important;
    height:450px !important;
}
body 
{
    font-size:150%;
}
}
#bgpic
{
    width:400px;
    height:300px;
}
.mask_elem_color
{
    background-color:red;
}
