*{margin:0px;padding:0px}
#areas{
	width:400px;
	height:300px;
	border:0px;
	text-align:center;
	margin:auto;
	position:relative;
}
.area{
	width:26px;
	height:26px;
	float:left;
	border:0px;
	z-index:1;
	margin-left:-1px;
	margin-top:-1px;
	position:relative;
}
#area1{
	width:26px;
	height:26px;
	float:left;
	border:0px;
	z-index:1;
	position:relative;
	margin-left:0px;
	margin-top:0px;	
}
#area17, #area33, #area49, 
#area65, #area81, #area97, #area113, 
#area129, #area145, #area161, #area177{
	width:26px;
	height:26px;
	float:left;
	border:0px;
	z-index:1;
	position:relative;
	margin-left:0px;
	margin-top:-1px;	
}
#area2, #area3, #area4, #area5,
#area6, #area7, #area8, #area9,
#area10, #area11, #area12, #area13,
#area14, #area15, #area16{
	width:26px;
	height:26px;
	float:left;
	border:0px;
	z-index:1;
	position:relative;
	margin-left:-1px;
	margin-top:0px;	
}
#area16, #area32, #area48, 
#area64, #area80, #area96, #area112, 
#area128, #area144, #area160, #area176{
	width:25px;
	height:26px;
}
#area177, #area178, #area179, #area180, 
#area181, #area182, #area183, #area184, 
#area185, #area186, #area187, #area188,
#area189, #area190, #area191{
	width:26px;
	height:25px;
}
#area192{
	width:25px;
	height:25px;
}
input[type="button"]{
margin:2px;
padding:2px 4px;
}
