SRC_ROOT_DIR = build_netif/
OUTPUT_DIR = NETIF/
DEFINE_FLAGS = 
UNDEF_FLAGS =  WEXT_WPS RELEASE_EXCLUDE CRYPT_TESTPLAN CRYPT_GPL_ALGORITHM COC_SUPPORT NINTENDO_AP GEMTEK_ATE EASY_CONFIG_SETUP CONFIG_SAMSUNG_REGULATORY_SUPPORT WAC_SUPPORT WAC_QOS_PRIORITY STA_EASY_CONFIG_SETUP SIGMATEL_SDK RTMP_PCI_SUPPORT RTMP_RBUS_SUPPORT RTMP_MAC_PCI __ECOS UCOS VXWORKS THREADX NDIS_WINS RT2860 RT2870 RT30xx RT3062 RT3090 RT3070 RT2070 RT2880 RT2883 RT3883 RT35xx RT305x RT3052 RT33xx RT3390 RT3370 RT3562 RT3572 RT3592 RT3573 RT3593 RT5350 RT5390 RT5392 RT5370 RT5372 RT5592 RT5572 RT3352 MESH_SUPPORT ETH_CONVERT_SUPPORT WMM_ACM_SUPPORT DOT11R_FT_SUPPORT CONFIG_SWMCU_SUPPORT DOT11K_RRM_SUPPORT DOT11W_PMF_SUPPORT RTMP_RF_RW_SUPPORT ANT_DIVERSITY_SUPPORT DOT11V_WNM_SUPPORT HW_COEXISTENCE_SUPPORT BT_COEXISTENCE_SUPPORT CONFIG_ZTE_RADIO_ONOFF HUAWEI_ATE CONFIG_WIFI_LED_SHARE WIDI_SUPPORT INTEL_WFD_SUPPORT WFA_WFD_SUPPORT WDS_SUPPORT CONFIG_CSO_SUPPORT CONFIG_TSO_SUPPORT IQ_CAL_SUPPORT SPECIFIC_BCN_BUF_SUPPORT SMART_ANTENNA DPA_S DPA_T
IFDEF_REMOVE = y
EVALUATE_NUM = y
FILTER_SUFFIX = .c .h .mk .4 .6 .util .netif
